@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@media (min-width: 768px) {
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-bottom:solid 1px rgba(255,255,255,0.10); }
}

$green-color: #00EBC3;
$white-color: #fff;
$grey-color: #A9A9A9;
$bcolor: #3C3C3C; 
$green-grey-color: #465C59;
$a-grey: #6B6B6B;

body { font-family: 'Poppins', sans-serif; }

.col-1 { text-align: center; justify-content: center; }

.gy-text {
  color: $green-grey-color;
  padding-top: 25px;
  font-size: 13px;
  margin-left: 18px;
  font-weight: 600;
}

.gr-text {
  color: $green-color;
  padding-top: 25px;
  font-size: 13px;
  margin-left: 18px;
  font-weight: 600;
}

.num-text {
  color: $green-grey-color;
  font-weight: 600;
  font-size: 13.5px;
  padding-top: 24px;
  margin-left: -12px;
  width: 120px;
}

.btn-reg {
  background-color: $green-color;
  color: $white-color;
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 13px;
  margin-left: 25px;
}

.btn-reg-2 {
  background-color: $green-color;
  color: $white-color;
  border-style: none;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 13px;
  margin-left: 25px;
}

.btn-gst {
  background-color: $green-color;
  color: $white-color;
  border-style: none;
  position: absolute;
  left: 31%;
  top: 71%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 13px;
  margin-left: 25px;
}

.text-m { position: relative; }

.text-m h1 {
  font-weight: 700;
  color: $bcolor;
  position: absolute;
  left: 27%;
  top: 32%;
  font-size: 45px;
  width: 240px;
}

#logo { margin-top: 14px; width: 104px; height: 43px; }

#phoneicon {
  width: 45px;
  height: 45px;
  margin-top: 10px;
  margin-left: 55px;
}

#bg {
  width: 1400px;
  height: 800px;
  margin-top: -75px;
}

.img-s { height: 800px; }

.img-f {
  width: 54px;
  height: 54px;
}

.col-snap { display: flex; }

.text-f {
  padding-left: 7px;
  padding-top: 11px;
}

.row-f { padding-top: 8px; }

.text-s {
  padding-top: 145px;
  color: $green-color;
  font-size: 18px;
}

.text-s1 {
  color: $grey-color;
  font-size: 14px;
}

#lang-p {
  height: 53px;
  width: 840px;
}

.lang-block { padding-top: 25px; }

.col-lan {
  height: 488px;
  width: 100px;
  margin-right: 35px;
}

.r-block { padding-top: 38px; }

.pic-s {
  margin-top: 15px;
  width: 270px;
  height: 180px;
}

.text-sblock {
  font-weight: 400;
  color: $bcolor;
  padding-top: 18px;
  font-size: 15px;
}

.t-sblock {
  color: $grey-color;
  font-size: 15px;
}

#l-b {
  padding-left: 55px;
  color: $a-grey;
  font-size: 15px;
}

#l-b2 {
  padding-right: 55px;
  color: $a-grey;
  font-size: 15px;
}

.row-sb { padding-top: 15px; }

.col-snap-1 {  
  background-color: #edfefb;
  border-radius: 15px;
  width: 1500px;
  height: 706.5px;
}

.img-back-1 {
  height: 830px;
  width: 1510px;
  padding-right: 50px;
  position: absolute;
  top: 253.25%;
}

.img-block {
  width: 380px;
  height: 220px;
  position: absolute;
  left: 55%;
  top: 315%;
}

.text2-block {
  font-weight: 700;
  color: $bcolor;
  margin-left: 725px;
  position: absolute;
  top: 280%;
}

#t2bg {
  margin-left: 725px;
  font-weight: 400;
  color: $grey-color;
  position: absolute;
  top: 301.50%;
}

.row-t-block {
  padding-bottom: 50px;
  padding-top: 50px;
}

.row-t2-block {
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 11px;
}

.con-th {
  font-size: 13px;
  position: absolute;
  top: 309%; 
  left: 57.70%;
}

.f-block {
  padding-top: 100px;
  color: $green-color;
  font-size: 16px;
}

.col-f-block { padding-top: 40px; }

.img-icon {
  width: 21px; 
  height: 21px; 
  margin-bottom: 4px; 
  margin-right: 3px;
}

.con-fifth {
  background-color: #D9FCF6;
  width: 500px;
  height: 450px;
  border-radius: 15px;
}

.image-photo {
  width: 223px;
  height: 223px;
  position: absolute;
  right: 64%;
  margin-top: 106px;
}

.l-block-text {
  font-style: italic;
  color: #9E9E9E;
  position: absolute;
  top: 547%;
  font-size: 18px;
}

.stars-info {
  position: absolute;
  top: 551%;
  right: 800px;
}

.col-f-blocktext {
  font-size: 16px;
  color: #858585;
}

.main-f {
  padding-left: 7px;
  padding-top: -15px;
  font-size: 33px;
}

.fblockrow {
  padding-left: 78px;
  margin-bottom: 10px;
}

.col-snap-2 { display: flex; }

.footer-bs {
  background-color: #3c3d41;
  padding: 60px 40px;
  color: rgba(255,255,255,1.00);
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }